In [1]:
import pickle
import pandas as pd
from sklearn.linear_model import LinearRegression

## Modelo com uma variável

In [2]:
df = pd.read_csv('casas.csv')

X = df[['tamanho']]
y = df['preco']

In [3]:
modelo = LinearRegression()
modelo.fit(X, y)

LinearRegression()

In [4]:
pickle.dump(modelo, open('modelo.pkl','wb'))

## Modelo com três variáveis

In [5]:
df = pd.read_csv('casas.csv')

X = df[['tamanho','ano', 'garagem']]
y = df['preco']

In [6]:
X.describe()

           tamanho          ano      garagem
count  1460.000000  1460.000000  1460.000000
mean    140.795205  1971.267808     1.767123
std      48.822992    30.202904     0.747315
min      31.000000  1872.000000     0.000000
25%     105.000000  1954.000000     1.000000
50%     136.000000  1973.000000     2.000000
75%     165.000000  2000.000000     2.000000
max     524.000000  2010.000000     4.000000

In [7]:
modelo = LinearRegression()
modelo.fit(X, y)

LinearRegression()

In [8]:
pickle.dump(modelo, open('modelo2.pkl','wb'))