In [1]:
import pickle
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso

In [3]:
df = pd.read_csv('../casas.csv')

X = df[['tamanho','ano', 'garagem']]
y = df['preco']

In [4]:
X.describe()

           tamanho          ano      garagem
count  1460.000000  1460.000000  1460.000000
mean    140.795205  1971.267808     1.767123
std      48.822992    30.202904     0.747315
min      31.000000  1872.000000     0.000000
25%     105.000000  1954.000000     1.000000
50%     136.000000  1973.000000     2.000000
75%     165.000000  2000.000000     2.000000
max     524.000000  2010.000000     4.000000

In [5]:
modelo1 = LinearRegression()
modelo1.fit(X, y)

LinearRegression()

In [6]:
modelo2 = Ridge()
modelo2.fit(X, y)

Ridge()

In [7]:
modelo3 = Lasso()
modelo3.fit(X, y)

Lasso()

In [8]:
pickle.dump(modelo1, open('modelo_rl.pkl','wb'))
pickle.dump(modelo2, open('modelo_ridge.pkl','wb'))
pickle.dump(modelo3, open('modelo_lasso.pkl','wb'))

In [1]:
import streamlit as st
import time
import pandas as pd

data=pd.read_csv("../estudo-APIs/casas.csv")

2023-05-03 19:49:39.250 INFO    numexpr.utils: NumExpr defaulting to 8 threads.

In [2]:
data

      tamanho   ano  garagem   preco
0       159.0  2003        2  208500
1       117.0  1976        2  181500
2       166.0  2001        2  223500
3       160.0  1915        3  140000
4       204.0  2000        3  250000
...       ...   ...      ...     ...
1455    153.0  1999        2  175000
1456    193.0  1978        2  210000
1457    217.0  1941        1  266500
1458    100.0  1950        1  142125
1459    117.0  1965        1  147500

[1460 rows x 4 columns]